.header {
  overflow: hidden;
  background-color: rgb(4, 69, 71);
  padding: 20px 10px;
  text-align: center;
}

.logo-chefhero {
  width: 12%;
  height: 12%;
  @media (max-width: 800px) {
    width: 25%;
    height: 25%;
  }
}
